# Node.js dependencies
/node_modules

# TypeScript build output
/dist

# Environment variables file (don't commit sensitive keys)
.environment
# Vercel environment variables (don't commit them)
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# nodemon files and logs
npm-debug.log*
.yarn-cache/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files (add more if needed, like for VSCode, IntelliJ, etc.)
.vscode
.idea

# Miscellaneous files
*.sublime-project
*.sublime-workspace
*.swp

.env
